.btn {
  border: 2px solid white;
  border-radius: 30px;
  min-width: 40px;
  width: fit-content;
  padding: 10px;
}

.btn.basic {
  color: white;
  background-color: transparent;
}

.btn.basic:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.btn.no__border {
  border: 0;
  color: white;
  background-color: transparent;
}

.btn.no__border:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
